src/main/resources/xsd/route-contract.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://stubs.assignment.discovery.co.za" elementFormDefault="qualified">

    <xs:element name="getShortestPathRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="request" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getShortestPathResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="response" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


</xs:schema>